@model IEnumerable<System.Security.Claims.Claim>
@{
	ViewData["Title"] = "CLAIMS";
}


<div class="card">
	<div class="card-header">
        <h2>Claims</h2>
	</div>
	<div class="card-body">
        <table class="table table-sm table-bordered">
            <tr>
                <th>Subject</th>
                <th>Issuer</th>
                <th>Type</th>
                <th>Value</th>
                <th class="text-center">Delete</th>
            </tr>

            @foreach (var claim in Model.OrderBy(x => x.Type))
            {
                <tr>
                    <td>@claim.Subject.Name</td>
                    <td>@claim.Issuer</td>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                    <td>
                        <input type="hidden" name="claimValues" value="@claim.Type;@claim.Value;@claim.Issuer" />
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#@claim.Issuer@claim.Type@claim.Subject.Name">
                            Delete
                        </button>
                    </td>
                </tr>
                <div class="modal fade" id="#@claim.Issuer@claim.Type@claim.Subject.Name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the claim "@claim.Type - @claim.Value" for "@claim.Subject.Name"
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="claimValues" value="@claim.Type;@claim.Value;@claim.Issuer" />
                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </table>
        <a asp-action="Create" class="btn btn-secondary">Create a Claim</a>
	</div>
</div>



