@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}

@model Burialmain
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Burial Data</h2>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Date of Excavation: @Model.Dateofexcavation</li>
                <li class="list-group-item">Preservation State: @Model.Preservation</li>
                <li class="list-group-item">Field Notes: @Model.Fieldbookpage</li>
                <li class="list-group-item">Samples Collected: @Model.Samplescollected</li>
            </ul>
        </div>
        

    </div>

<br />

<h3>Textiles</h3>
<table class="table table-sm table-bordered">
    <tr>
        <th>Direction</th>
        <th>Locale</th>
        <th>Description</th>
        <th>Estimated Period</th>
        <th>Photographed Date</th>
        <th>Sample Date</th>
    </tr>

    @foreach (var item in Model.BurialmainTextiles)
    {
        <tr>
            <td>@item.Textile.Direction</td>
            <td>@item.Textile.Locale</td>
            <td>@item.Textile.Description</td>
            <td>@item.Textile.Estimatedperiod</td>
            <td>@item.Textile.Photographeddate</td>
            <td>@item.Textile.Sampledate</td>
        </tr>
    }
</table>

<br />

<h3>Artifacts</h3>
<table class="table table-sm table-bordered">
    <tr>
        <th>Number</th>
        <th>Position</th>
        <th>Date</th>
        <th>Material</th>
        <th>Dimensions</th>
        <th>Provenance</th>
        <th>Current Location</th>
        <th>Rehoused To</th>
        <th>Photos</th>
    </tr>

    @foreach (var item in Model.ArtifactkomaushimregisterBurialmains)
    {
        <tr>
            <td>@item.Artifactkomaushimregister.Number)</td>
            <td>@item.Artifactkomaushimregister.Position)</td>
            <td>@item.Artifactkomaushimregister.Date)</td>
            <td>@item.Artifactkomaushimregister.Material)</td>
            <td>@item.Artifactkomaushimregister.Dimensions)</td>
            <td>@item.Artifactkomaushimregister.Provenance)</td>
            <td>@item.Artifactkomaushimregister.Currentlocation)</td>
            <td>@item.Artifactkomaushimregister.Rehousedto)</td>
            <td>@item.Artifactkomaushimregister.Photos)</td>
        </tr>
    }
</table>