@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "ROLES";
}

<div class="card">
    <div class="card-header">
        <h1>Roles</h1>
    </div>
    <div class="card-body">
        <table class="table table-sm table-bordered table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Users</th>
                <th class="text-center">Update</th>
                <th class="text-center">Delete</th>
            </tr>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td i-role="@role.Id"></td>
                    <td class="text-center"><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Update</a></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#@role.Name">
                            Delete
                        </button>
                    </td>
                </tr>
                <div class="modal fade" id="@role.Name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the Role "@role.Name"
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </table>
    </div>
    <div class="card-footer">
        <a asp-action="Create" class="btn btn-secondary">Create a Role</a>
    </div>
</div>




