@{
    ViewData["Title"] = "Textiles";
}

@model RecordsViewModel

<h1>Textiles</h1>

<div>
    <partial name="TableNav" />
</div>

<table class="table table-sm table-bordered">
    <tr>
        <th>Details</th>
        <th>Direction</th>
        <th>Locale</th>
        <th>Description</th>
        <th>Estimated Period</th>
        <th>Photographed Date</th>
        <th>Sampledate</th>
        <th>Colors</th>
        <th>Function</th>
        <th>Structure</th>
    </tr>

    @foreach (var x in Model.Textiles)
    {
<tr>
    <td><a asp-controller="Home" asp-action="Details" asp-route-id="@x.Id">View Details</a></td>
    <td>@x.Direction </td>
    <td>@x.Locale</td>
    <td>@x.Description</td>
    <td>@x.Estimatedperiod</td>
    <td>@x.Photographeddate</td>
    <td>@x.Sampledate</td>
    <td>
        @foreach (var color in x.ColorTextiles)
        {
            <p>@Html.DisplayNameFor(model => color.Color.Value)</p>
        }
    </td>
    <td>
        @foreach (var function in x.TextilefunctionTextiles)
        {
            <p>@Html.DisplayNameFor(model => function.Textilefunction.Value)</p>
        }
    </td>
    <td>
        @foreach (var structure in x.StructureTextiles)
        {
            <p>@Html.DisplayNameFor(model => structure.Structure.Value)</p>
        }
    </td>
</tr>
    }
</table>

<div page-model="@Model.PageInfo" page-action="Textiles"></div>